body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('assets/beach.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

header, footer {
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 1rem;
}

section {
  background: rgba(0, 0, 0, 0.5);
  margin: 1rem auto;
  padding: 1rem;
  max-width: 900px;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
}

th, td {
  padding: 0.5rem;
  border: 1px solid #fff;
  text-align: center;
}

input[type="number"] {
  width: 50px;
  padding: 4px;
}
